<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.edcan.shakit" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".ShakeService">
            <intent-filter>
                <action android:name=".ShakeService"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <receiver android:name=".BRcvr"
            android:enabled="true"
            android:exported="false"
            android:label="Broadcast Receiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <activity android:name=".Destroy"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />
        <activity android:name=".Setting"
            android:label="설정"
            android:theme="@style/AppTheme.Act"
            />
        <activity android:name=".Sensitive"
            android:label="민감도 설정"
            android:theme="@style/AppTheme.Dia"
            />
        <activity android:name=".AboutSlide"
            android:theme="@android:style/Theme.Translucent"
            />
    </application>

</manifest>
